<div class="nav-pane">

  <a href="/search"><button class="nav-btn" type="button" name="button">Search</button></a>
  <a href="/donate"><button class="nav-btn" type="button" name="button">Donate</button></a>
  <a href="/issue"><button class="nav-btn" type="button" name="button">Issue</button></a>
  <a href="/return"><button class="nav-btn" type="button" name="button">Return</button></a>
  <a href="/remove"><button class="nav-btn" type="button" name="button">Remove</button></a>

</div>
