<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>LibMan</title>
  </head>
  <body>
    <div class="header">
      <h1 class="head">LibMan</h1><br>
      <a style="visibility:<%=vis%>;" href="/user"><button class="btn" type="button" name="button">Home</button></a>
      <a href="/"><button class="btn" type="button" name="button"><%=x%></button></a>

      <img style="visibility:<%=vi%>" class="photo" src="<%=src%>" alt="Not Available">

    </div>
