<%- include("Partials/header1"); -%>

<body style="background-color:#EEF2FF;">

<div class="popup">
  <div class="form">
    <form class="" action="/registration" method="post">
      <h2>Register</h2>
      <h5 style="color:<%=color%>; visibility:<%=visi%>"><%=content%></h5>

      <div class="form-element">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter Email">
      </div>

      <div class="form-element">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password">
      </div>

      <div class="form-element">
        <label for="password">Confirm Password</label>
        <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password">
      </div>

      <div class="form-element">
        <label for="photoID">Photo ID</label>
        <input type="file" id="img" name="img" accept="image/*">
      </div>

      <div class="form-element">
        <button type="submit">Sign up</button>
      </div>

      <div class="form-element">
        <a href="/">Sign in</a>
      </div>
    </form>

  </div>
</div>

</body>
